######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# VS Code
######################
.vscode/

######################
# Mac OSX
######################
.DS_Store
.svn